.stroeer-videoplayer .stroeer-videoplayer-ui .error {
	text-align: center;
	background-color: #171B26;
	color: #fff;
	border-radius: 8px;
	padding: 10px;
  display: table-cell;
  vertical-align: middle;
	svg {
		height: 146px;
		fill: $primaryColor1;
	}
}

@media screen and (max-width: 375px) {
  .stroeer-videoplayer .stroeer-videoplayer-ui .error {
    font-size: 13px;
    svg {
      height: 121px;
    }
  }
}
